<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.sunee">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Sunee"
        android:usesCleartextTraffic="true"
        >

        <activity
            android:name=".TitleQuestion4"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TitleQuestion3"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TitleQuestion2"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TitleQuestion"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Question"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Setting"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OrderComplete"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TransFerMoney"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PaymentChannel"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Take_Order"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ShoppingBasket"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Details_Cooked"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"

            />
        <activity
            android:name=".SplashScreen"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.splashScreen"
           >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>